* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v57_17 {
  width: 100%;
  height: 1032px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v57_16 {
  width: 100%;
  height: 100%;
  background: url("../images/v57_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v57_18 {
  width: 289px;
  height: 78px;
  background: rgba(198,119,0,1);
  opacity: 1;
  position: absolute;
  top: 851px;
  left: 761px;
  overflow: hidden;
}
.v57_19 {
  width: 78px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 871px;
  left: 866px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v57_20 {
  width: 679px;
  height: 104px;
  background: rgba(198,119,0,1);
  opacity: 1;
  position: absolute;
  top: 304px;
  left: 18px;
  overflow: hidden;
}
.v57_21 {
  width: 679px;
  height: 104px;
  background: rgba(198,119,0,1);
  opacity: 1;
  position: absolute;
  top: 636px;
  left: 18px;
  overflow: hidden;
}
.v57_23 {
  width: 662px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 675px;
  left: 18px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v57_22 {
  width: 341px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 332px;
  left: 139px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
